<table class="table table-hover">
  <thead>
    <tr>
      <th>LOSS</th>
      <th>GAIN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-danger">{{loss_Instance1() | number}} (-3%)</td>
      <td class="text-success">{{gain_Instance1() | number}} (3%)</td>
    </tr>
    <tr>
      <td class="text-danger">{{loss_Instance2() | number}} (-5%)</td>
      <td class="text-success">{{gain_Instance2() | number}} (5%)</td>
    </tr>
    <tr>
      <td class="text-danger">{{loss_Instance3() | number}} (-8%)</td>
      <td class="text-success">{{gain_Instance3() | number}} (8%)</td>
    </tr>
    <tr>
      <td class="text-danger">{{loss_Instance4() | number}} (-10%)</td>
      <td class="text-success">{{gain_Instance4() | number}} (10%)</td>
    </tr>
    <tr>
      <td class="text-danger">{{loss_Instance5() | number}} (-15%)</td>
      <td class="text-success">{{gain_Instance5() | number}} (15%)</td>
    </tr>
  </tbody>
</table>