<!--The content below is only a placeholder and can be replaced.-->

<div class="angularContainer" [ngClass]="{'night-mode':nightMode == true}">
  <mat-toolbar>
      <span>PSE Stock Calculator</span>
    
      <span class="fill-remaining-space"></span>
    <mat-slide-toggle (click)="toggleNightMode()">Night Mode</mat-slide-toggle>
  </mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>{{title}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form [formGroup]="stockForm">
          <app-shares [formGroup]="stockForm"></app-shares>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <!--<button type="submit" class="btn btn-primary" [disabled]="!stockForm.valid">Submit</button>-->
              <app-buying [(formGroup)]="stockForm"></app-buying>
            </div>
            <div class="col-xs-12 col-sm-6">
              <app-selling [(formGroup)]="stockForm"></app-selling>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <app-gainloss [(formGroup)]="stockForm"></app-gainloss>
              <app-savecomputation [(formGroup)]="stockForm"></app-savecomputation>  
              <app-disclaimer></app-disclaimer>        
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12">
                  <app-display-save-computation [(formGroup)]="stockForm"></app-display-save-computation>      
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>