<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar>
    <span>PSE Stock Calculator</span>
  </mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>{{title}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <form [formGroup]="stockForm">
          <app-shares [formGroup]="stockForm"></app-shares>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <!--<button type="submit" class="btn btn-primary" [disabled]="!stockForm.valid">Submit</button>-->
              <app-buying [(formGroup)]="stockForm"></app-buying>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-selling [(formGroup)]="stockForm"></app-selling>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>