<div class="jumbotron selling">
  <h2 class="text-center">SELLING</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="form-group" [ngClass]="{'has-error':!formGroup.controls['sellingPrice'].valid && formGroup.controls['sellingPrice'].touched}">
        <label>Selling Price</label>
        <input type="text" class="form-control" [formControl]="formGroup.controls['sellingPrice']" currencyMask/>
        <div *ngIf="formGroup.controls['sellingPrice'].hasError('required') && formGroup.controls['sellingPrice'].touched" class="alert alert-danger">You must enter a valid selling price</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Total Fees</th>
            <th>Total Amount</th>
            <th>Net Profit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{totalSellingFees() | currency:'PHP'}}</td>
            <td>{{totalSellingTransactionCost() | currency:'PHP'}}</td>
            <td>{{netProfit() | currency:'PHP'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="display:none;">
    <div class="col-xs-12 col-sm-12">
      <div>
        This is the Stock Transaction Tax: {{computeStockTransactionTax() | currency:'PHP'}}
      </div>
    </div>
  </div>
</div>