<div class="jumbotron buying">
    <h2 class="text-center">BUYING</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="form-group" [ngClass]="{'has-error':!formGroup.controls['buyingPrice'].valid && formGroup.controls['buyingPrice'].touched}">
          <label>Buying Price</label>
          <input type="text" class="form-control" [formControl]="formGroup.controls['buyingPrice']" currencyMask/>
          <div *ngIf="formGroup.controls['buyingPrice'].hasError('required') && formGroup.controls['buyingPrice'].touched" class="alert alert-danger">You must enter a valid buying price</div>
          {{outputBuyingPrice | currency:'PHP'}}
        </div>
      </div>
      <p>This is the Gross Amount: {{computeGrossTransactionAmount() | currency:'PHP'}}</p>
      <div class="col-xs-12 col-sm-12">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th>Total Fees</th>
                  <th>Total Amount</th>
                  <th>Break-even</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{totalFees}}</td>
                  <td>{{totalAmount}}</td>
                  <td>{{breakEven}}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
