<div class="jumbotron buying">
  <h2 class="text-center">BUYING</h2>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group" [ngClass]="{'has-error':!formGroup.controls['buyingPrice'].valid && formGroup.controls['buyingPrice'].touched}">
        <label>Buying Price</label>
        <input type="text" class="form-control" [formControl]="formGroup.controls['buyingPrice']" currencyMask/>
        <div *ngIf="formGroup.controls['buyingPrice'].hasError('required') && formGroup.controls['buyingPrice'].touched" class="alert alert-danger">You must enter a valid buying price</div>
      </div>
    </div>

    <div class="col-lg-12 d-none d-md-block">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Total Fees</th>
            <th>Total Amount</th>
            <th>Break-even</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{totalBuyingFees() | currency:'PHP'}}</td>
            <td>{{totalBuyingTransactionCost() | currency:'PHP'}}</td>
            <td>{{breakEven() | currency:'PHP'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12 d-block d-md-none">
      <p>Total Fees:
        <b>{{totalBuyingFees() | currency:'PHP'}}</b>
      </p>
      <p>Total Amount:
        <b>{{totalBuyingTransactionCost() | currency:'PHP'}}</b>
      </p>
      <p>Break-even:
        <b>{{breakEven() | currency:'PHP'}}</b>
      </p>
    </div>

  </div>
</div>