/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
html, 
body {
    height: 100%;
}
div.angularContainer {
    min-height: 100%;
}
/*night mode*/
div {
    -webkit-transition: background-color 200ms ease-in; /* Safari */
    transition: background-color 200ms ease-in;
}
div.angularContainer.night-mode {
    background-color: #303030;
    color:#FFF;
}
div.angularContainer.night-mode mat-toolbar {
    background-color: #9C27B0;
    color:#FFF;
}
div.angularContainer.night-mode .jumbotron.buying {
    background-color: #303030;
    color: #29931a;
    border-color: #303030;
    box-shadow: 0 0 0 0;
    box-shadow: 0px 1px 10px #262626;
}
div.angularContainer.night-mode .jumbotron.selling {
    background-color: #303030;
    color: #a94442;
    border-color: #303030;
    box-shadow: 0 0 0 0;
    box-shadow: 0px 1px 10px #262626;
}
div.angularContainer.night-mode .table-dark {
    color: #fff;
    background-color: #303030;
}
div.angularContainer.night-mode .form-control {
    background-color: transparent;
    background-clip: padding-box;
    border: transparent;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}
div.angularContainer.night-mode .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
div.angularContainer.night-mode .form-group.has-error > .form-control {
    background-color: transparent;
    border-color: #FFF;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
div.angularContainer.night-mode .alert-danger {
    background-color: transparent;
    border-color: transparent;
}
div.angularContainer.night-mode option {
    color: #333;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(63, 11, 71);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #650077;
}



/*default*/
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.jumbotron {
    min-height: 410px;
}
.form-group .form-control {
    border-radius:0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c1dfff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(111, 178, 250, 0.15);
    box-shadow: 0 0 0 0.2rem rgba(111, 178, 250, 0.15);
}
.form-group.has-error > .form-control {
    color: #495057;
    background-color: #fff;
    border-color: #f8d7da;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(248, 215, 218.2);
    box-shadow: 0 0 0 0.2rem rgb(248, 215, 218,.2);
    margin-bottom:5px;
}
.alert {
    border-radius: 0;
    font-size: 12.5px;
    padding: 5px;
}
.alert-danger {
    color: #de7982;
    background-color: #fff3f4;
    border-color: #ffe3e6;
}
.btn.btn-default.disabled {
    pointer-events: none;
}
@media(max-width:767px) {
    .jumbotron {
        min-height: 322px;
    }
    .btn {
        display: block;
        margin-bottom: 10px;
    }
}
