<button class="btn btn-default" (click)="showDisclaimer = true" [hidden]="showDisclaimer">READ DISCLAIMER</button>
<div [hidden]="!showDisclaimer">
  <p>This calculator is just a rough estimate. The formula is based on this table</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>FEES AND CHARGES</th>
          <th>RATE OR AMOUNT</th>
          <th>CHARGED TO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Broker's Commission</td>
          <td>Max of 0.25% of gross trade amount or P20, whichever is higher</td>
          <td>Buyers and Sellers of stocks</td>
        </tr>
        <tr>
          <td>VAT on Broker's Commission</td>
          <td>12% of Broker's Commission</td>
          <td>Buyers and Sellers of stocks</td>
        </tr>
        <tr>
          <td>SCCP or Clearing Fee</td>
          <td>0.01% of gross trade amount</td>
          <td>Buyers and Sellers of stocks</td>
        </tr>
        <tr>
          <td>PSE Transaction Fee</td>
          <td>0.005% of gross trade amount</td>
          <td>Buyers and Sellers of stocks</td>
        </tr>
        <tr>
          <td>Stock Transaction Tax</td>
          <td>0.5% of gross trade amount</td>
          <td>Sellers only</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-default" (click)="showDisclaimer = false">HIDE DISCLAIMER</button>
</div>